* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin: 0;
}

#box {
  margin: 68px auto 24px 48px;
}

#logo {
  width: 104px;
}

#nav {
  margin: 24px 0;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

h1 {
  margin: 40px auto 8px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.text {
  font-size: 16px;
  color: #000000;
}

#img-box {
  white-space: nowrap;
}

.artwork {
  height: 194px;
}

.box2 {
  margin: 24px 48px;
}

a {
  padding: 12px 24px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

p {
  font-size: 16px;
  color: #000000;
}

#space-img {
  width: 100%;
}