/* 창 크기를 키우면 1:1:1 비율로 너비를 나눠서 늘어나게 하여라.*/
/* 창 크기를 줄이면 1:1:1 비율로 너비를 나눠서 줄어들게 하여라.*/
/* 창 크기가 아무리 작아져도 셀의 크기는 200px 이하로 줄어들지 않게 하여라.*/

* {
    box-sizing: border-box;
  }
  
  html {
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    line-height: 19px;
  }
  
  body {
    background-color: #000;
    color: #d9d9d9;
    margin: 0;
  }
  
  section {
    max-width: 1120px;
    width: 100%;
    margin: 80px auto;
    padding: 0 36px;
  }
  
  .stations {
    display: grid;
    grid-template: repeat(3, minmax(200px, 1fr)) / repeat(3, minmax(200px, 1fr));
  }
  
  .station {
    width: 100%;
    border-radius: 16px;
  }
  