html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 120px;
  max-width: 360px;
}
  
label {
  display: block;
  margin: 16px 0 8px;
  max-width: 360px;
}

input {
  max-width: 360px;
  display: block;
  padding: 16px 24px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
}

button {
  border: none;
  display: block;
  padding: 16px;
  background: #2c2c2c;
  max-width: 360px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 24px;
    color: #4e4e4e;
    width: auto;
}

.id, .pw {

  color: #2c2c2c;
  margin-top: 16px;
  margin-bottom: 8px;
}

.memory {
  color: #ababab;
  text-align: right;
  width: 360px;
  font-size: 14px;
  margin: auto auto 24px;
}

.bttn {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 24px auto;
}

.question {
  color: #ababab;
  text-align: center;
  width: 360px;
  font-size: 14px;
  margin: auto auto 24px;
}

.question > a {
  color: #2c2c2c;
}

input::placeholder {
  color: #ababab;
}