/*테두리 겹치기..border-collapse 속성 활용 */
table {
    border: 1px solid red;
    border-collapse: collapse;
}
  
th {
    border: 1px solid green;
}
  
td {
    border: 1px solid blue;
}


/*테두리 간격..border-spacing 속성 활용*/
table {
    border: 1px solid red;
    border-spacing: 10px;
}
  
th {
    border: 1px solid green;
}
  
td {
    border: 1px solid blue;
}
  



  