* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, 'Noto Sans KR', sans-serif;
  margin: 0;
}

.header-content {
  margin: 0 auto;
  width: 720px;
  padding: 80px 0 280px;
}

.copyright-tagline {
  margin: 0 auto;
  width: 720px;
}
.header {
    background-image: url('bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  
.CHAINIFY {
  background-size: cover;
  background-color: #f1f4fa;;
}

.careers {
  background-size: cover;
  background-color: #161346;
  text-align: center;
}

.copyright {
  background-size: cover;
  background-color: #120f3f;
}
  /* Chainit */
  .header-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 40px;
  }
  
  /* Chain */
  .header-title-accent {
    font-weight: 700;
  }
  
  /* 세상 모든 화폐를 바꾸다 */
  .header-tagline-small {
    font-size: 20px;
    font-weight: 500;
    color: #8287a4;
    line-height: 30px;
    margin-top: 80px;
  }
  
  /* Exchange the world */
  .header-tagline {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 14px;
  }
  
  /* 2014년, 국내 최초로 시작한 ~ */
  .header-description {
    font-size: 14px;
    font-weight: 400;
    color: #8287a4;
    margin-bottom: 280px;
  }
  
  .section {
    background-position: center;
    color: #ffffff;
  }
  
  /* Chainit */
  .section-content, .section-image, .section-button, .CHAINIFY-content, .chainit-nano {
  margin: 0 auto;
  width: 720px;
  padding: auto auto 64px;
}

.section-content, .CHAINIFY {
  padding-top: 74px;
  padding-bottom: 64px;
}

.chainit-nano {
  padding-top: 40px;
  padding-bottom: 64px;
}

.careers {
  padding-top: 40px;
  padding-bottom: 64px;
}

.copyright {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* CHAINIT */
  .section-tagline {
    font-size: 36px;
    font-weight: 700;
    color: #161346;
    margin-bottom: 42px;
  }
  
  /* chainit.png */
  .section-image {
    border-radius: 24px;
    margin-bottom: 32px;
  }
  
  /* 체인잇은 2014년 국내 최초로.. */
   .header-description, .nano-description{
    font-size: 16px;
    font-weight: 500;
    color: #4c497b;
    margin-bottom: 32px;
  }
  
  .CHAINIFY-tagline {
    font-size: 36px;
    font-weight: 700;
    color: #161346;
    margin-bottom: 42px;
  }
  /* 둘러보기 */
  .section-button {
    text-align: center;
  }
  
  a.see-more {
  background: #413c91;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin-top: 32px;
  padding: 16px 64px;
  text-decoration: none;
  text-align: center;
}

a.see-more-recruit {
  background: #413c91;
  border-radius: 9999px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin-top: 32px;
  padding: 16px 64px;
  text-decoration: none;
  text-align: center;
}

.nano-tagline {
  font-size: 36px;
  font-weight: 700;
  color: #161346;
  margin-bottom: 42px;
}

.nano-description {
  font-size: 16px;
  font-weight: 500;
  color: #4c497b;
}

.Careers-tagline {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px;
}

.Careers-description {
  font-size: 16px;
  font-weight: 400;
  color: #8287a4;
}

.copyright-tagline {
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
}