* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins, 'Noto Sans KR', sans-serif;
  margin: 0;
  background-color: #f5f3ed;
}

#headcontent,.content {
  width:720px;
  margin:0 auto;
}
#bg2,#bg3,#bg4 {
  padding-top: 74px;
  padding-bottom: 64px;  
}
.botton {
  text-align: center;
}
.botton a {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #413c91;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
}
.content h3 {
  margin-bottom: 42px;
  font-size: 36px;
  font-weight: 700;
  color: #161346;
}
.content img {
  width: 100%;
  border-radius: 24px;
}
.content p {
  font-size: 16px;
  font-weight: 500;
  color: #4c497b;
  margin-top: 32px;
  margin-bottom: 32px;
}

#bg1 {
  background-image: url("bg.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 280px;
}

#bg1 h5 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
  padding-left: 48px;
  line-height: 1;
  margin: 0;
}
#bg1 span {
  font-weight: 400;

}
#bg1 .p1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 80px
}
#bg1 h1 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 14px;
}
#bg1 .p2 {
  font-size: 14px;
  font-weight: 400;
}
#bg1 p {
  color: #8287a4;
}


#bg2 {
  background-color: #ffffff;
}

#bg3 {
  background-color: #f1f4fa;
}

#bg4 {
  background-color: #ffffff;
}

#bg5 {
  background-color: #161346;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 64px;
}
#bg5 h4 {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 8px;
}
#bg5 p {
  font-size: 16px;
  font-weight: 400;
  color: #8287a4;
  margin-bottom: 32px;
}
#bg5 a {
  border-radius: 9999px;
}

#bg6 {
  background-color: #120f3f;
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
  padding: 32px 0;
}
