.header-content {
    margin: 0 auto;
    width: 640px;
  }
  
  .section {
    margin: 0 auto;
    width: 640px;
  }

/* 선택자 목록을 하나로 합칠 때는 (,)를 이용한다.*/

.header-content,
.section {
  margin: 0 auto;
  width: 640px;
}
