.coin-list > div {
    padding: 8px 0;
  }

  /*자식 결합자는 오른쪽 꺾쇠로 선택자를 이어주면 된다.*/

  .coin-list > div img {
    width: 16px;
    margin-right: 8px;
  }
  
  .coin-list > div span {
    font-size: 12px;
    color: #8287A4;
  }
/*자손 결합자를 조합해서 표현*/  