/*
bg.png 파일을 배경 이미지로
배경 이미지는 꽉 차게 중앙 정렬로 반복 없이
rgba(159, 84, 209, 0.2) 색에서 시작해서 rgba(115, 82, 208, 0.6) 색으로 끝나는 반투명한 그라디언트를 겹치기
*/

background-image:
  linear-gradient(rgba(159, 84, 209, 0.2), rgba(115, 82, 208, 0.6)),
  url('bg.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
