* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.header {
  background-color: #11172b;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-content {
  color: #0b1f66;
  font-family: 'Titillium Web';
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  width: 640px;
}

.flight-card {
  background-color: #f8f8f8;
  padding-top: 24px;
  padding-bottom: 24px;
}

.air-card-first {
  background-color: #f8f8f8;
  
}

.flight-card .card-content {
  padding: 24px 32px;
  margin: 0 auto;
  width: 640px;
}

.line {
  margin: 0 auto;
  width: 640px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #b6bfd3;
}

.air-card-first .card-content {
  /*padding: 24px 32px;*/
  margin: 0 auto;
  width: 640px;
  margin-bottom: 20px;
}
/* logo.png */
.header-content > div img {
  width: 24px;
  margin-right: 8px;
}

/* Codeit */
.header-content > div {
  padding: 8px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
}

/* Airline */
.header-content > div span {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.card-content {
  background: #ebeff8;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(18, 23, 42, 0.03);
}

.air-content {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(18, 23, 42, 0.03);
}

.flight-card .card-content .depart > img {
  height: 12px;
  margin-right: 8px;
}

/* 출국 */
.flight-card .card-content .depart {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #b3bdd5;
  /*margin-bottom: 8px;*/
}

.departure-arrival {
  font-size: 32px;
  color: #000000;
  font-family: 'Titillium Web';
  font-weight: 900;
}

p.schedule {
  background: #ffffff;
  border-radius: 4px;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 24px;
}

.section-comment {
   color: #b3bdd5;
   font-size: 12px;
}

.air-card-first .card-content {
  background: #ffffff;
  padding: 16px 24px 24px;
}

.air-card-first .card-content .content {
  margin-top: 26px;
}
.air-card-first .card-content h2 {
  border-bottom: 1px solid #dbf1ec;
  color: #16bf97;
  font-family: 'Titillium Web';
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}


.card-content .content h3 {
  color: #b3bdd5;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  margin: 4px 0;
}

.card-content .time {
    color: #1a345e;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}
  
.card-content .time .icon {
    width: 18px;
    margin: 0 10px;
}

.card-content .flight-num {
  color: #0b1f66;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin: 4px 0;
}

.card-content .footer {
  text-align: right;
}
  
.card-content .footer > a {
  color: #1a345e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 24px;
  text-decoration: none;
}

.air-card-first .content .soldout {
    color: #dce0e8;
}
